#camera-feed {
    width: 70%;
    height: 80%;  /* Adjust height as needed */
    border: 1px solid #ddd;
    overflow: hidden;
}

/* body{
    background-color: black;
    color: white
} */

#camera-feed img {
    width: 100%;  /* Fill the entire box */
    height: 100%;  /* Fill the entire box */
    object-fit: cover;  /* Maintain aspect ratio and cover the box */
}

form {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust height as needed */
}

textarea {
    margin-bottom: 20px; /* Add some space between textarea and buttons */
}

#back {
    margin-top: 20px; /* Add some space between buttons */
}


/* Apply styles to all buttons */
button {
    background-color: #01284d; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make display inline */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin */
    cursor: pointer; /* Cursor style */
    border-radius: 8px; /* Rounded corners */
    transition-duration: 0.4s; /* Transition */
}

/* Change the button color on hover */
button:hover {
    background-color: #0d85d0; /* Darker green */
    color: white; /* White text */
}

.header
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%; /* Adjust as needed */
    margin: 0 auto; /* Center the container */
}

.left-button, .right-button {
    height: 63vh;
    width: 39vw;
    background-color: #01284d; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make display inline */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Cursor style */
    border-radius: 20%; /* Rounded corners */
    transition-duration: 0.4s; /* Transition */
    background-size: cover; /* Ensure the background image covers the entire button */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-position: center; /* Center the background image */
}

.left-button{
    background-image: url("translator.jpg");
}

.right-button{
    background-image: url("generator.jpg");
}

.left-button:hover, .right-button:hover {
    background-color: #0d85d0; /* Darker green */
    color: white; /* White text */
}

p{
    padding: 20px;
}